* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #191919;
  font-family: "Open Sans", monospace;
  /* font-family: "Playfair Display"; */
  color: #fff;
}

.gradient-border {
  --borderWidth: 3px;
  background: #191919;
  position: relative;
  border-radius: var(--borderWidth);
  width: 155px;
  height: 38px;
  padding-top: 1em;
  margin-top: 1em;
  margin-left: 3em;
  padding-left: 2em;
  font-family: "Open Sans", monospace;
  padding-right: 9px;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-info {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 9em;
  margin-bottom: 13em;
}
.landing-info .column {
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 4em;
}
.landing-info .column i {
  margin-bottom: 0.5em;
}

.landing-about {
  display: flex;
  margin: 0 18em 8em 15em;
  /* width:923px; */
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.landing-about .column-one {
  width: 52%;
  margin-right: 1em;
}

.landing-about .column-one span {
  font-size: 32px;
  margin-top: 3em;
}

.landing-about .column-two {
  width: 46%;
}

.scroll-button {
  display: flex;
  justify-content: center;
  margin-bottom: 16em;
  cursor: pointer;
}
.scroll-button:hover {
  color: #ffb621;
}
/* ABOUT ME SECTION */

.about-me {
  display: flex;
  height: 567px;
  background: #0095ff;
}

.img-column {
  width: 50%;
}
.img-column img {
  width: 100%;
  height: 567px;
}
.about-header {
  width: 50%;
  /* margin-top: 4em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.about-header span,
.about-header p {
  /* padding-top:5em; */
  padding-left: 20%;
  padding-right: 20%;
  color: #fff;
  /* font-family: "Playfair Display"; */
  line-height: 1.5em;
}
.about-header #firstname {
  font-size: 60px;
}
.about-header #lastname {
  font-size: 60px;
}

.project-info {
  display: flex;
  height: 19em;
  width: 100%;
  background: #dedede;
  padding-top: 4em;
}
.project-info .projects {
  width: 50%;
}
.project-info .projects span {
  float: right;
}
.project-info .project-about {
  width: 50%;
  padding-top: 5em;
}
.project-info .project-about span {
  font-size: 23px;
  font-weight: 700;
  margin-left: 3em;
}
.project-info .project-about p {
  color: #000;
  margin: 10px 70px;
}
.project-info #project-number {
  color: #0095ff;
  font-size: 150px;
  margin-right: 80px;
}
.project-info #project-plus {
  color: #0095ff;
  font-size: 100px;
  height: 100;
}
.project-info .project-about .header {
  color: #0095ff;
}

.applications {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: auto;
  background: #fff;
}
.applications .card {
  color: #000;
  width: 25%;
  height: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.applications .card img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  z-index: 1;
  position: absolute;
}
.applications .card:hover img {
  /* transform: scale(1.5); */
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.applications .card .image-text {
  color: #fff;
  z-index: 100;
  position: absolute;
  text-align: center;
}
.applications .card .image-text span {
  font-size: 30px;
  margin-top: 12px;
  opacity: 0;
}

.applications .card .image-text p {
  font-size: 20px;
  opacity: 0;
}
.applications .card:hover .image-text span,
.applications .card:hover .image-text p {
  opacity: 1;
}

.projects-section {
  height: 700px;

  background: #fff;
}
.projects-section .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.projects-section .cards .card {
  height: 465px;
  width: 300px;
  background: #fff;
  box-shadow: -1px 10px 28px -3px #19191973;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-left: 1em;
}
.projects-section .cards .card img {
  width: 300px;
  height: 191px;
  border-radius: 5px;
  margin-top: -1px;
}
.projects-section .cards .card h4 {
  color: #0095ff;
}

.footer {
  widows: 100%;
  height: 2em;
  /* position: relative; */
  padding-top: 1em;
}
.footer .copyrite {
  float: left;
  margin-left: 3em;
}
.footer .links {
  float: right;
  display: flex;
  margin-right: 3em;
}
.footer .links .link {
  margin-right: 3em;
}
.footer .links .link a {
  color: #fff;
}
.footer .links .link a:hover {
  color: #ffb621;
  cursor: pointer;
}
*/ .grayscale {
  filter: grayscale(100%);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .gradient-border {
    width: 80%;
    margin-left: 1em;
    text-align: center;
  }
  .landing-info {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
  }
  .landing-info .column {
    height: 12em;
  }
  .landing-about {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
  }
  .landing-about .column-one {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .landing-about .column-two {
    margin-top: 3em;
    width: 100%;
    text-align: center;
    margin: 3em 30px;
  }
  .about-me {
    flex-direction: column;
    height: auto;
  }

  .img-column img {
    width: 375px;
    height: 375px;
  }
  .about-header {
    width: 100%;
    margin-top: 1em;
    height: 400px;
  }
  .about-header p {
    text-align: center;
    padding: 0 12px;
  }
  .project-info {
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-info #project-number {
    margin-right: 0;
  }
  .project-info .projects {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .project-info .project-about {
    width: 100%;
    padding-top: 0;
    padding-bottom: 3em;
  }
  .project-info .project-about .header span {
    margin: 0;
  }
  .applications .card {
    width: 100%;
    height: 100%;
  }
  .projects-section {
    height: auto;
    padding-bottom: 7em;
  }
  .cards {
    flex-direction: column;
  }
  .projects-section .cards .card {
    margin-bottom: 2em;
    margin-left: 0;
  }
}
